<!DOCTYPE html>
<html>
  <head>
    <title>AuthPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <% if logged_in? %>
      <p><%= link_to "Logout", logout_path, method: :delete %></p>
    <% else %>
      <p><%= link_to "Login", login_path %></p>
    <% end %>
      <%= yield %>
  </body>
</html>
